<!-- profile.html -->
{% extends 'generic.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="container">
        <h1 class="mt-5">Booking Management</h1>
        <div class="row">
          <div class="input-group">
            <input type="text" class="form-control rounded" id="datepicker" placeholder="Select date" value={{date}}>
            <div class="input-group-append">
              <span id="find-bookings" class="input-group-text rounded-0">Find bookings</span>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                Bookings
              </div>
              <div class="card-body">
                <table class="table table-hover table-bordered">
                  <tr>
                    <th>Table</th>
                    {% for booking_time in available_time_slots %}
                      <th>{{booking_time.start_time}}</th>
                    {% endfor %}
                  </tr>
                  {% for table in tables %}
                  <tr>
                    <td>Table {{ table.table_number }}</td>
                    {% for booking_time in available_time_slots %}
                      <th style="background-color: {% if booking_time.flag == 'booked' %}'cadetblue'{% endif %}"></th>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>  
          </div>        
        </div>
      </div>
</div>
{% endblock %}
