<!-- profile.html -->
{% extends 'generic.html' %}

{% load custom_filters %}

{% block title %}Booking Management{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="container">
        <h1 class="mt-5"><i class="fas fa-utensils"></i>  Booking Management</h1>
        <div class="row">
          <div class="input-group">
            <input type="text" class="form-control rounded" id="datepicker" placeholder="Select date" value={{date}}>
            <div class="input-group-append">
              <span id="find-bookings" class="input-group-text rounded-0">Find bookings</span>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                Bookings
              </div>
              <div class="card-body">
                <table id="booking-table" class="table table-hover table-bordered table-responsive">
                  <tr>
                    <th>
                      Table                       
                    </th>
                    {% for booking_time in available_time_slots %}
                      <th>{{booking_time.start_time}}</th>
                    {% endfor %}
                  </tr>
                  {% for table in tables %}
                  <tr>
                    <td>Table {{ table.table_number }}</td>
                    {% for booking_time in available_time_slots %}
                      <td style="background-color: {% if booking_time.flag == 'booked' and table.table_number in booking_time.table %}powderblue;{% endif %}" data-booking-id={% if booking_time.flag == 'booked' and table.table_number in booking_time.table %}{{booking_time.booking_phone }}{% else %}{{booking_time.start_time}}{% endif %}>
                        {% if booking_time.flag == 'booked' and table.table_number in booking_time.table %}
                          Phone: <small id="myInput">{{booking_time.booking_phone}}</small>
                          <br>                                                                              
                          {% for number_of_guest in booking_time.number_of_guests %}
                            {% with parts=number_of_guest|split:"-"  %}                              
                              {% if parts.0 == table.table_number %}                                                          
                                Customers <sup><strong>{{parts.1}}  <i class="fas fa-users"></i> </strong></sup>     
                              {% endif %}                              
                            {% endwith %}                            
                          {% endfor %}                                                      
                            
                      {% endif %}
                      </td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>  
          </div>        
        </div>
      </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Booking Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>Booking Confirmation</h1>
        <p>Your booking at Restaurant Viet An has been confirmed.</p>
        <p>Name: <span></span></p>
        <p>Email: <span></span></p>
        <p>Phone: <span></span></p>
        <p>Total Customers: <span></span></p>
        <p>Special Request: <span></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
